.buscador{
    min-height: 7em;
    border: 4px solid var(--secondary);
    background-color: white;
    margin-top: -2.7em;
    border-radius: 2em;
  }
  
  .buscador-filters{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  
  .filter{
    border-bottom: 2px solid var(--primary);
  }
  
  .filter:nth-child(1){
    grid-column: 1/ span 2;
  }
  
  .buscador_boton{
    grid-column: 1/ span 2;
  }
  
  .label-buscador, .label-icono{
    color: var(--primary);
  }
  

  .input-buscador:focus{
    border: none;
    outline: none;
  }
  
  .input-buscador::placeholder{
    color: black;
  }

.buscador_boton a{
    background-color: var(--primary);
  }
  

  @media(min-width:992px){
    .buscador{
        border-radius: 20em;
      }
      
      .filter:nth-child(2), .filter:nth-child(3){
        padding-left: 2em;
      
      }
      
      .filter{
        border-bottom: 0;
      }
      
      .filter:not(:nth-child(3)){
        border-right: 2px solid var(--primary);
      }
  }