.contenido{
    margin-top: 5em;
    
}

 .filters{
    max-width: 15em;
    background-color: #f6f4ff;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 1.5em;
    height: fit-content;
 }

.filters label{
    width: fit-content;
    margin-top: 0.5em;
}

 input[type="checkbox" ]{
    accent-color: var(--secondary);
    color: white;
}


article{
    
    border: 2px solid rgb(204, 204, 204);
    border-radius: 1em;
}

.card-review{
    width: 2.5em;
    height: 2.5em;
   background-color: var(--secondary);
   border-radius: 10px 10px 6px 0px;
  }

.puntuacion-title{
    font-size: 1.2em;
}

.puntuacion-subtitle{
    font-size: 0.8em;
    margin-top: -3px;
}



.puntuacion-subtitle, .puntuacion-title{
    color: var(--primary);
}

.slider{
    height: 5px;
    border-radius: 5px;
    position: relative;
    background-color: #ddd;
}

.slider .progress{
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary);
    position: absolute;
    left: 25%;
    right: 25%;
}

.input-range{
    position: relative;
}

.input-range input{
    position: absolute;
    height: 5px;
    width: 100%;
    background: none;
    appearance: none;
    pointer-events:none ;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    appearance: none;
    border-radius: 50%;
    background-color: var(--secondary);
    pointer-events: auto;
}


.alojamiento-info .text{
    text-align: justify;
}


.filter-mobile .filter-button{
    background-color:transparent;
}

.alojamiento-image img{
  width: 100%;
}

.buttons .info-button{
    width: 8em;
   
}

.filter-mobile .modal-dialog{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

.filter-mobile .modal-content{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    border: none;
    border-radius: 0;
}



.accordion-body label:not(:first-child){
    margin-top: 0.7em;
}

.alojamiento-extra .buttons{
    height: fit-content;
}

.alojamiento-extra h2{
    margin-left: -1em;
}

.alojamiento-info .text{
    font-size: 1em;
}


@media (min-width: 576px) { 
    .top-filters a{
        width: 7em;
    }

    .alojamiento-image img{
        height: 20em;
      }

  

 }


@media (min-width: 768px) { 
    .top-filters a{
        width: 10em;
    }

    .alojamiento .info-button{
        width: 8em;
    }

    .alojamiento-image img{
        height: 13em;
        width: 13em;
        

        
      }
 

      

 }

@media (min-width: 992px) { 

    .alojamiento-info .text{
        font-size: 0.9em;
    }

    .buttons .info-button{
        width: 6em;
    }

    .puntuacion-title, .puntuacion-subtitle{

        margin-left: -55px;

    }

    .puntuacion .num{
        margin-left: -25px;
    }

 }

@media (min-width: 1200px) { 
    .buttons .info-button{
        width: 8em;
    }

    .alojamiento-info .text{
        font-size: 1em;
    }

    .puntuacion-title, .puntuacion-subtitle, .puntuacion .num{

        margin-left: 0px;
    }



 }

@media (min-width: 1400px) { 
    .buttons .info-button{
        width: 10em;
    }

    .reviews{
        padding-left: 4em;
    }
 }