:root{
  --primary: #007390;
  --secondary:#f1a301;
  --background:#13293e;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* Reset Styles */
/* Bootstrap Styles */

@import 'header.scss';

@import 'footer.scss';

@import 'buscador.scss';

.main-title{
font-size: 2.3em;
}

.title, .main-title{
  color: var(--primary);
}

.sub-title{
  color: var(--secondary);
}

.text{
  font-size: 1.2em;
  font-weight: 400;
}

.card-text{
  font-size: 1.1em;
}

.info-button{
  background-color: var(--primary);
  width: 10em;
}

.info-button-secondary {
  background-color: var(--secondary);
}