/* -------------INICIO GENERALES---------------- */
.card .card-price{
  font-size: 1.1em;
}

section:not(.hero, .buscador, .newsletter){
  padding-top: 5em;
  padding-bottom: 5em;
}

.newsletter{
  margin-top: 4em;
  margin-bottom: 6em;
}

.card-destino, .card-transporte, .card-paquete{
  background-color: #f6f4ff;
  box-shadow: 4px 4px 8px var(--background);
}


/* -------------FIN GENERALES---------------- */


/* -------------INICIO HERO---------------- */

.hero{
  background-color: #f6f4ff;
  height: fit-content;
  padding: 4em 0em 8em 0em;
}


.hero .image img{
  width: 90%;
  max-width: 40em;

}


/* -------------FIN HERO---------------- */



/* --------INICIO SOBRE NOSOTROS-------------- */

.sobre-nosotros .sobre-nosotros-image img{
  object-fit: cover;
  width: 90%;
  max-width: 40em;
  height: 100%;
}

/* --------FIN SOBRE NOSOTROS------------------ */


/* -----------INICIO TRANSPORTES------------- */


/* -----------FIN TRANSPORTES------------- */

/* -----------INICIO RESEÑAS--------------- */

.reseñas .reseñas-image img{
  width: 100%;
  max-width: 33em;
  border-radius: 8em 0em 8em 0em;
}

.reseñas-info .icon{
  font-size: 5em;
  color: var(--secondary);
}

.reseñas-bottom{
  width: 100%;
}

.slider-control button{
  width: 2em;
  height: 2em;
  border: none;
  background-color: var(--secondary);
}



.slider-control button:nth-child(2){
  background-color: var(--primary);
  border: none;

}

/* -------------FIN RESEÑAS-----------------*/

.servicios-icono {
    font-size: 4em;
    color: var(--background);
}

.destinos-count-text{
    max-width: 25em;
    height: fit-content;
    padding-left: 0.7em;
    border-left: 0.20em solid var(--primary);
    line-height: 1.15;
    margin-top: 0.25em;
}


  .card-transporte{
    width: 17em;
  }

  .card-paquete{
    width: 22em;
  }


  .card-review{
    width: 2.5em;
    height: 2.5em;
   background-color: var(--secondary);
   border-radius: 10px 10px 6px 0px;
  }



  .card-price{
    font-size: 1.2em;
    color: var(--background);
  }

  .card-icono{
    color: var(--secondary);
  }


  .paquete-card-info{
    border-top: 3px solid var(--primary);
  }



  .reviews-icon{
    font-size: 0.7em;
    color: var(--secondary);
  }

  .paquete-card-price span{
    color: var(--primary);
  }

  

  .newsletter{
    padding: 3em 3em 3em 3em;
    border-radius: 5em;
    background-color: #f6f4ff;
    border: 4px solid var(--primary);
  }

  .newsletter a{
    top: 2.25em;
    right: 3.5em;
  }

  .newsletter-input input{
    width: 90%;
    height: 5em;
    border: 2px solid var(--secondary);
  }
  .newsletter-input input:focus{
    outline: none;
  }




/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .newsletter a{
    top: 2.25em;
    right: 5.5em;
  }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .newsletter a{
    top: 0.85em;
    right: 1.5em;
  }

.hero{
  padding: 8em 0em 10em 0em;
}

.reseñas .reseñas-image img{
  width: 90%;
}


}

/* Large devices (desktops, 992px and up) */




@media (min-width: 992px) {


/* ---------INICIO OFERTA----------- */
.oferta-image1 img{
  transform: rotate(-15deg);
}
/* ---------FIN OFERTA----------- */


/* ------INICIO RESEÑAS-------- */

.reseñas .reseñas-image img{
  width: 90%;

}
/* ------FIN RESEÑAS-------- */


}




/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}