/* -------------INICIO GENERALES---------------- */
.card .card-price{
  font-size: 1.1em;
}

section:not(.hero, .buscador, .newsletter){
  padding-top: 2em;
  padding-bottom: 2em;
}

.newsletter{
  margin-top: 4em;
  margin-bottom: 4em;
}

.info_button, .buscador_boton a{
  background-color: var(--primary);
}

.card-destino, .card-transporte, .card-paquete{
  background-color: #f6f4ff;
  box-shadow: 4px 4px 8px var(--background);
}

.title{
  color: var(--primary);
}

.info_button{
  width: 10em;
}


/* -------------FIN GENERALES---------------- */


/* -------------INICIO HERO---------------- */

.hero{
  background-color: #f6f4ff;
  height: fit-content;
  padding: 4em 0em 8em 0em;
}

.hero .title{
  font-size: 2.5em;
}

.hero .image img{
  width: 90%;
  max-width: 40em;

}


/* -------------FIN HERO---------------- */


/* -------------INICIO BUSCADOR---------------- */

.buscador{
  min-height: 7em;
  border: 4px solid var(--secondary);
  background-color: white;
  margin-top: -2.7em;
  border-radius: 2em;
}

.buscador-filters{
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.filter{
  border-bottom: 2px solid var(--primary);
}

.filter:nth-child(1){
  grid-column: 1/ span 2;
}

.buscador_boton{
  grid-column: 1/ span 2;
}

.label-buscador, .label-icono{
  color: var(--primary);
}

.label-icono{
  font-size: 1em;
  margin-left: 0.25em;
}
.input-buscador:focus{
  border: none;
  outline: none;
}

.input-buscador::placeholder{
  color: black;
}

/* -------------FIN BUSCADOR---------------- */


/* --------INICIO SOBRE NOSOTROS-------------- */

.sobre-nosotros .sobre-nosotros-image img{
  object-fit: cover;
  width: 90%;
  max-width: 40em;
  height: 100%;
}

/* --------FIN SOBRE NOSOTROS------------------ */


/* -----------INICIO TRANSPORTES------------- */

.transportes .transportes-info .info_button{

  width: 10em;
}
/* -----------FIN TRANSPORTES------------- */

/* -----------INICIO RESEÑAS--------------- */

.reseñas .reseñas-image img{
  width: 100%;
  max-width: 33em;
  border-radius: 8em 0em 8em 0em;
}

.reseñas-info .icon{
  font-size: 5em;
  color: var(--secondary);
}

.reseñas-bottom{
  width: 100%;
}

.slider-control button{
  width: 2em;
  height: 2em;
  border: none;
  background-color: var(--secondary);
}



.slider-control button:nth-child(2){
  background-color: var(--primary);
  border: none;

}

/* -------------FIN RESEÑAS-----------------*/
/* Boostrap Styles */

/* My Styles */








.sub-title{
    color: var(--secondary);
}



.text{
    font-size: 20px;
}




.servicios-icono {
    font-size: 4em;
    color: var(--background);
}

.btn-servicios{
    background-color: var(--secondary);

}

.card-title{
    color: var(--primary);
}


.destinos-count-text{
    max-width: 25em;
    height: fit-content;
    padding-left: 0.7em;
    border-left: 0.20em solid var(--primary);
    line-height: 1.15;
    margin-top: 0.25em;
}

.destinos-count-title{
    color: var(--primary);
}




  .card-transporte{
    width: 17em;
  }

  .card-paquete{
    width: 22em;
  }


  .card-review{
    width: 2.5em;
    height: 2.5em;
   background-color: var(--secondary);
   border-radius: 10px 10px 6px 0px;
  }

  .btn-destino{
    background-color: var(--primary);

  }

  .card-price{
    font-size: 1.2em;
    color: var(--background);
  }

  .card-icono{
    color: var(--secondary);
  }

  .destinos-title span, .transportes-info span, .oferta-info span, .paquetes-info span{
    color: var(--secondary);
  }

  .destinos-title h2, .transportes-info h2, .oferta-info h2, .paquetes-info h2, .user-info h5{

    color: var(--primary);
  }

  .paquete-card-info{
    border-top: 3px solid var(--primary);
  }

  .oferta-info p, .paquetes-info p{
    font-size: 1.2em;
  }

  .reviews-icon{
    font-size: 0.7em;
    color: var(--secondary);
  }

  .paquete-card-price span{
    color: var(--primary);
  }

  

  .newsletter{
    padding: 3em 3em 3em 3em;
    border-radius: 5em;
    background-color: #f6f4ff;
    border: 4px solid var(--primary);
  }

  .newsletter a{
    top: 2.25em;
    right: 3.5em;
  }

  .newsletter-input input{
    width: 90%;
    height: 5em;
    border: 2px solid var(--secondary);
  }
  .newsletter-input input:focus{
    outline: none;
  }




/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .newsletter a{
    top: 2.25em;
    right: 5.5em;
  }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .newsletter a{
    top: 0.85em;
    right: 1.5em;
  }

.hero{
  padding: 8em 0em 10em 0em;
}

.reseñas .reseñas-image img{
  width: 90%;
}


}

/* Large devices (desktops, 992px and up) */




@media (min-width: 992px) {

/* -------------INICIO HERO---------------- */

  .filter:nth-child(2), .filter:nth-child(3){
    padding-left: 2em;

  }

  .filter{
    border-bottom: 0;
  }

  .filter:not(:nth-child(3)){
    border-right: 2px solid var(--primary);
  }

/* -------------FIN HERO---------------- */

/* -----------INICIO BUSCADOR-----------*/

.buscador{
  border-radius: 20em;
}
/* -----------FIN BUSCADOR-----------*/

/* ---------INICIO OFERTA----------- */
.oferta-image1 img{
  transform: rotate(-15deg);
}
/* ---------FIN OFERTA----------- */


/* ------INICIO RESEÑAS-------- */

.reseñas .reseñas-image img{
  width: 90%;

}
/* ------FIN RESEÑAS-------- */


}




/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}