@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
:root {
  --primary: #007390;
  --secondary:#f1a301;
  --background:#13293e;
}

/* Reset Styles */
/* Bootstrap Styles */
/* Reset Styles */
/* Bootstrap Styles */
.navbar {
  background-color: var(--background) !important;
}

.nav-link {
  color: var(--white-background) !important;
}

.nav-item, .nav-link {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.active {
  color: var(--secondary) !important;
}

.nav-link:hover {
  color: var(--secondary) !important;
}

button.navbar-toggler {
  border: none;
  outline: none;
}

button.navbar-toggler:focus, button:focus:not(:focus-visible) {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 1.25em;
  height: 1.25em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .modal-dialog {
  margin: 0;
  width: 300px;
}

header .modal-content {
  border-radius: 0;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--background);
  padding-left: 1em;
}

header .modal-header {
  border-bottom: none;
}

.logo_mobile {
  width: 10em;
  margin-left: -20px;
}

.icono_mobile {
  color: var(--primary);
}

/* My Styles */
.boton_carrito, .boton_favoritos, .boton_favoritos_mobile, .boton_carrito_mobile, .boton_login_mobile {
  background-color: var(--primary);
}

.boton_carrito, .boton_login, .boton_favoritos, .boton_favoritos_mobile, .boton_carrito_mobile, .boton_login_mobile {
  color: var(--white-background);
  width: 30px;
  height: 30px;
  font-size: 1em;
}

.boton_carrito {
  background-color: var(--secondary);
}

.boton_login_mobile, .boton_carrito_mobile, .boton_favoritos_mobile {
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-right: 20px;
}

.logo_header {
  width: 6em;
}

.boton_favoritos, .boton_login {
  display: none !important;
}

.contacto_mobile {
  border: none;
  background-color: var(--primary);
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .boton_favoritos, .boton_login {
    display: flex !important;
  }

  .boton_carrito {
    background-color: var(--primary);
  }

  .boton_login {
    background-color: var(--secondary);
  }
}
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
/* Bootstrap Styles */
/* My Styles */
footer {
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  font-size: 14px;
  font-weight: 500;
  padding-top: 1em;
  overflow: hidden;
}

.footer__logo {
  width: 12em;
  padding-bottom: 1em;
}

.footer h2 {
  color: var(--primary);
  padding-bottom: 0.5em;
}

.icono_rrss {
  width: 30px;
  height: 30px;
  background-color: var(--secondary);
  margin-right: 1em;
  font-size: 1.2em;
  color: var(--white-background);
}

.footer__newsletter input[type=email] {
  width: 40%;
  color: var(--primary);
  border: none;
  outline: none;
}

.footer__newsletter input[type=button] {
  background-color: var(--secondary);
  border: none;
  outline: none;
  color: var(--white-background);
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer__services > .container-lg, .footer__account > .container-lg {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
}
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
.buscador {
  min-height: 7em;
  border: 4px solid var(--secondary);
  background-color: white;
  margin-top: -2.7em;
  border-radius: 2em;
}

.buscador-filters {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.filter {
  border-bottom: 2px solid var(--primary);
}

.filter:nth-child(1) {
  grid-column: 1/span 2;
}

.buscador_boton {
  grid-column: 1/span 2;
}

.label-buscador, .label-icono {
  color: var(--primary);
}

.label-icono {
  font-size: 1em;
  margin-left: 0.25em;
}

.input-buscador:focus {
  border: none;
  outline: none;
}

.input-buscador::placeholder {
  color: black;
}

.buscador_boton a {
  background-color: var(--primary);
}

@media (min-width: 992px) {
  .buscador {
    border-radius: 20em;
  }

  .filter:nth-child(2), .filter:nth-child(3) {
    padding-left: 2em;
  }

  .filter {
    border-bottom: 0;
  }

  .filter:not(:nth-child(3)) {
    border-right: 2px solid var(--primary);
  }
}
.main-title {
  font-size: 2.3em;
}

.title, .main-title {
  color: var(--primary);
}

.sub-title {
  color: var(--secondary);
}

.text {
  font-size: 1.2em;
  font-weight: 400;
}

.card-text {
  font-size: 1.1em;
}

.info-button {
  background-color: var(--primary);
  width: 10em;
}

.info-button-secondary {
  background-color: var(--secondary);
}

/*# sourceMappingURL=main.css.map */
