.contenido{
    margin-top: -3em;
    margin-bottom: 10em;
}

.card i{
    font-size: 0.5em;
}

.card{
    box-shadow: 4px 4px 8px var(--background);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}