

.filter:nth-child(4){
    border-right: none;
    padding-left: 1em;
}

.filter{
    padding-left: 1em !important;
}

.filter:nth-child(1){
    grid-column: 1 / 2 !important;
}

.boton-filtros-main{
    background-color: transparent;
    border: none;

}

.filtros-main{
    border: 1px solid #ccc;
    border-radius: 1em;
    overflow: hidden;
}

.boton-active{
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    font-weight: 500;
}

.boton-filtros-main:hover{
    background-color: #f5f5f5;
}


@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 
    .filter:nth-child(3){
        border-right: 2px solid var(--primary);
        
    }
 }


@media (min-width: 1200px) { 
 .filter:not(:first-child, :last-child){
    padding-left: 2em !important;
 }
 }


@media (min-width: 1400px) { 

 }



 